.container {
  position: absolute;
  bottom: 440px;
  right: 50px;
  width: 98px;
  height: auto;
}
.item {
  //flex: 1;
  height: 96px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding-top: 13px;
  border: 2px solid #78c7e6;
  &.activeleft {
    //margin-left: -2px;
    background: #179efc;
    
  }
  &.activeRight {
    //margin-right: -2px;
    background: #179efc;
  }
  &:first-child {
    margin-bottom: 30px;
  }
}
